<!DOCTYPE html>

<html>
  <head>
    <title>Artists</title>
  </head>

  <body>
    <ul>
      <% Artist.all.each do |artist| %>
        <li><a href = <%= "#{artist.to_slug}" %>>
          <%= artist.name %>
        </a></li>
      <% end %>
    </ul>
  </body>
</html>
