<!DOCTYPE html>

<html>
  <head>
    <title>Songs</title>
  </head>
  <body>
    <ul>
      <% Song.all.each do |song| %>
        <li><a href = <%= "#{song.to_slug}" %>>
          <%= song.name %>
        </a></li>
      <% end %>
    </ul>
  </body>
</html>
